<div>
    <div class="container-fluid d-flex justify-content-center">


        <div class="row">
            <h2 class="text-center pt-3" style="color:orange;">CONTATTACI!</h2>

            <form>
                <div class="col">
                    <div class="mb-3 ">

                        <label class="form-label">First name</label>
                        <input class="form-control" placeholder="Enter your first name...">
                    </div>
                </div>

                <div class="col">
                    <div class="mb-3">
                        <label class="form-label">Last name</label>
                        <input class="form-control" placeholder="Enter your last name...">
                    </div>
                </div>

                <div class="col">
                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input type="email" class="form-control" placeholder="name@example.com">
                    </div>
                </div>

                <div class="col">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                        <textarea class="form-control text-body-secondary" id="exampleFormControlTextarea1"
                                  placeholder="Your message..." rows="5"></textarea>
                    </div>
                    <div class="pb-5">
                        <div class="d-grid gap-2 d-md-flex justify-content-center">
                            <button type="submit" id="button" class="btn btn-warning">Send</button>
                        </div>
                    </div>
                </div>

            </form>




        </div>

    </div>

</div>